@charset "utf-8";
/* 스타일 가이드 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.noto_sans_kr {
  font-family: "Noto Sans KR", sans-serif;
}

/* 여기어때 잘난 고딕 */
@font-face {
  font-family: 'JalnanGothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --white-color: #ffffff;
  --black-color: #111111;
  --btn-color: #393531;

  --point-color: #004393;
  --persona-color: #E3EFFF;
}

/* layout */
.make {
  font-size: 1rem;
  position: fixed;
  right: 30px;
  top: 30px;
}

section {
  padding: 100px 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* overview */
section.overview .inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

section.overview .txt {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fadeleft 1s;
}


@keyframes fadeleft {
  0% {
    transform: translateX(-500px);
  }

  100% {
    transform: translateX(0);
  }
}

section.overview .txt .top h1 {
  font-size: 4rem;
  color: var(--point-color);
}

section.overview .txt .top p {
  font-size: 1.5rem;
  padding-top: 10px;
  font-weight: 600;
}

section.overview .txt .top a {
  display: block;
  width: 180px;
  height: 45px;
  background: var(--persona-color);
  text-align: center;
  line-height: 45px;
  color: var(--black-color);
  transition: 0.3s;
  margin-top: 20px;
  border-radius: 5px;
}

section.overview .txt .top a:hover {
  background: var(--btn-color);
  color: var(--white-color);
}

section.overview .txt .top a i {
  padding-left: 10px;
  font-size: 1.3rem;
  animation: clickme 1s infinite
}

@keyframes clickme {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translateX(-3px);
  }

  100% {
    transform: translate(0);
  }
}

section.overview .txt .middle h2 {
  position: relative;
}

section.overview .txt .middle h2::after {
  content: '';
  display: block;
  background: var(--black-color);
  width: 45%;
  height: 2px;
  position: absolute;
  left: 18%;
  top: 50%;
  transform: translateY(-50%);
}

section.overview .txt .middle ul.add {
  padding-top: 15px;
}

section.overview .txt .middle ul.add li {
  padding-top: 10px;
  display: flex;
}

section.overview .txt .middle ul.add li div {
  width: 150px;
}

section.overview .txt .bottom h2 {
  position: relative;
}

section.overview .txt .bottom h2::after {
  content: '';
  display: block;
  background: var(--black-color);
  width: 70%;
  height: 2px;
  position: absolute;
  left: 26%;
  top: 50%;
  transform: translateY(-50%);
}

section.overview .txt .bottom p {
  padding-top: 15px;
  line-height: 1.7;
}

section.overview .img {
  width: 50%;
  height: 100%;
  position: relative;
  animation: fadein 1s;
}

@keyframes fadein {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

section.overview .img .image-container {
  width: 710px;
  height: 400px;
  position: absolute;
  left: 43px;
  top: 69px;
  overflow: hidden;
}

section.overview .img .image-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 710px;
}

section.overview .img .image-container img:hover {
  animation: updown ease 9s;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-730px);
  }
}


/* problem */
section.problem {
  background: var(--persona-color);
}

section.problem .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.problem .tit h2 {
  font-size: 2.5rem;
  color: var(--point-color);
}

section.problem .tit p {
  padding-top: 15px;
  line-height: 1.3;
}

section.problem .site {
  height: 85%;
  display: flex;
  justify-content: space-around;
}

section.problem .site .img {
  width: 37%;
  display: flex;
  justify-content: center;
  border: 3px solid var(--point-color);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

section.problem .site .img a {
  width: 37%;
  display: flex;
  justify-content: center;
}

section.problem .site .txt {
  width: 40%;
}

section.problem .site .txt ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.problem .site .txt ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 30%;
}

section.problem .site .txt ul li:nth-child(1) {
  opacity: 0;
  transform: translateX(100px);
  transition: 1s;
}

section.problem .site .txt ul li:nth-child(2) {
  opacity: 0;
  transform: translateX(150px);
  transition: 1s;
}

section.problem .site .txt ul li:nth-child(3) {
  opacity: 0;
  transform: translateX(200px);
  transition: 1s;
}

section.problem.on .site .txt ul li {
  opacity: 1;
  transform: translateX(0);
}

section.problem .site .txt ul li h3 {
  color: var(--point-color);
  font-size: 1.5rem;
}

section.problem .site .txt ul li .box {
  padding: 20px 30px;
  border: 3px solid var(--point-color);
  border-radius: 10px;
  background: #fff;
}

section.problem .site .txt ul li .box h5 {
  font-size: 1.5rem;
  text-align: center;
}

section.problem .site .txt ul li .box p {
  padding-top: 15px;
  line-height: 1.3;
  text-align: center;
}


/* style guide */
section.styleguide .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.styleguide .inner .top::after {
  display: block;
  content: '';
  background: #ccc;
  width: 100%;
  height: 1px;
  margin-top: 30px;
}

section.styleguide .inner .top h2 {
  font-size: 2.5rem;
  color: var(--point-color);
  position: relative;
}

section.styleguide .top h2:after {
  content: '';
  display: block;
  width: 17.5%;
  height: 2px;
  background: var(--point-color);
  margin-top: 10px;
}

section.styleguide .top .concept {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.styleguide .top .concept p {
  width: 65%;
  line-height: 2;
}

section.styleguide .top .concept .keyword {
  width: 450px;
  height: 150px;
  display: flex;
  position: relative;
}

section.styleguide .top .concept .keyword div {
  width: 150px;
  height: 150px;
  border: 2px solid var(--point-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  position: absolute;
  font-weight: bold;
  color: var(--point-color);
  font-size: 1.4rem;
}

section.styleguide .top .concept .keyword .key1 {
  right: 260px;
  top: 0;
}

section.styleguide .top .concept .keyword .key2 {
  right: 130px;
  top: 0;
}

section.styleguide .top .concept .keyword .key3 {
  right: 0;
  top: 0;
}

section.styleguide .inner div h3 {
  font-size: 1.5rem;
  color: var(--point-color);
}

section.styleguide .middle {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

section.styleguide .inner .middle .color {
  width: 45%;
}

section.styleguide .inner .middle .color ul {
  width: 100%;
  height: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

section.styleguide .inner .middle .color ul li {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

section.styleguide .inner .middle .color ul li:nth-child(1) {
  background: #FFFFFF;
}

section.styleguide .inner .middle .color ul li:nth-child(2) {
  background: #E3EFFF;
}

section.styleguide .inner .middle .color ul li:nth-child(3) {
  background: #004393;
  color: #fff;
}

section.styleguide .inner .middle .color ul li:nth-child(4) {
  background: #666666;
  color: #fff;
}

section.styleguide .inner .middle .color ul li:nth-child(5) {
  background: #111111;
  color: #fff;
}

section.styleguide .inner .middle .component {
  width: 48%;
  height: 100%;
}

section.styleguide .inner .middle .component ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.styleguide .inner .middle .component ul li {
  margin-right: 10px;
}

section.styleguide .inner .middle .component ul>li:last-child {
  width: 50%;
}

section.styleguide .inner .middle .component ul>li>ul {
  width: 100%;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
}

section.styleguide .inner .middle .component ul>li>ul>li:last-child {
  width: 15%;
}

section.styleguide .inner .typo {
  width: 100%;
  height: 140px;
}

section.styleguide .inner .typo ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

section.styleguide .inner .typo ul li {
  font-size: 1.5rem;
  margin-right: 100px;
}

section.styleguide .inner .typo ul li span {
  margin-left: 30px;
}

section.styleguide .inner .typo ul li:nth-child(1) {
  font-family: 'JalnanGothic';
}

section.styleguide .inner .typo ul li:nth-child(2) {
  font-family: "Noto Sans KR", sans-serif;
}


/* main_page */
section.main_page {
  width: 100%;
  height: 1407px;
  background: #F9F9F9
}

section.main_page .page_inner {
  position: relative;
  height: 100%;
}

section.main_page h2 {
  font-size: 2.5rem;
  color: var(--point-color);
}

section.main_page p {
  padding-top: 15px;
}

section.main_page img {
  position: absolute;
  left: 0;
  top: 175px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

section.main_page .page_inner div {
  width: 35%;
  position: absolute;
  right: 0;
}

section.main_page .page_inner div::before {
  content: '';
  display: block;
  width: 290px;
  height: 2px;
  background: var(--point-color);
  position: absolute;
  left: -320px;
  top: 13px;
}

section.main_page .page_inner div::after {
  content: '◆';
  display: block;
  color: var(--point-color);
  position: absolute;
  left: -32px;
  top: 5px;
  font-size: 0.9rem;
}

section.main_page .page_inner div h3 {
  font-size: 1.5rem;
  color: var(--point-color);
  position: relative;
}

section.main_page .page_inner div p {
  padding-top: 10px;
  line-height: 1.5;
}

section.main_page .header {
  top: 185px
}

section.main_page .banner {
  top: 330px;
}

section.main_page .concept {
  top: 480px;
  position: relative;
}

section.main_page .popular {
  bottom: 430px;
}

section.main_page .monthly {
  bottom: 280px;
}

section.main_page .request {
  bottom: 140px;
}

section.main_page .community {
  bottom: -45px;
}